.box {
  width: 60px;
  height: 60px;
  background: #00c6ff;
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
  background: linear-gradient(to right, #0072ff, #00c6ff);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  box-shadow: rgba(235, 203, 203, 0.56) 0px 7px 70px 7px;
}
body {
  background: #6441a5;
  background: -webkit-linear-gradient(to right, #6441a5, #2a0845);
  background: linear-gradient(to right, #6441a5, #2a0845);
}
